<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuo8yqvDcGa60hOS9Mga_kGEBvr0PSnxI</string>
	<key>GCM_SENDER_ID</key>
	<string>243323103075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josephmp5.femmelilith</string>
	<key>PROJECT_ID</key>
	<string>femmefatale-2f92f</string>
	<key>STORAGE_BUCKET</key>
	<string>femmefatale-2f92f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243323103075:ios:e143f38a83f5b619365556</string>
</dict>
</plist>